<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>공지사항 등록</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<div layout:fragment="content" class="container my-3">
  <br><br>
    <h2 class="my-3 border-bottom-pb-2" style="text-align: center;">공지사항 등록하기</h2>
            <br>
    <form th:action="@{/notices/create}" th:object="${noticeRequestDTO}" method="post">
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
        </div>

        <div class="form-group mb-3 mx-auto" style="text-align: center;">
    <label for="title" class="form-label">제목</label>
    <input type="text" th:field="*{title}" class="form-control">
</div>
        <br>

<div class="form-group mb-3 mx-auto" style="text-align: center;">
    <label for="content" class="form-label">내용</label>
            <br>
    <textarea rows="10" th:field="*{content}" class="form-control"></textarea>
</div>

<br><br><br>
        <div class="mb-3 mx-auto" style="text-align: center;">
            <input type="submit" value="등록하기" class="w-btn w-btn-green" style="width:150px;">
        </div>
    </form>
</div>
<script th:src="@{/bootstrap.min.js}"></script>
</body>
</html>
