<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
<script th:src="@{../static/bootstrap.min.js}"></script>
<title>footer</title>

</head>
<body>
</body>
<footer th:fragment="footerFragment" class="footer container-fluid">
        
            <div class="col-12" style="height:50px;">
                <p class="text-center text-muted">
                    Copyright ® fullstack2.log method Corp. All Rights Reserved
                    <br>
                    풀스택2기 2차 프로젝트 모두 수고하셨습니다!
                </p>
            </div>
      
   
</footer>
